
body{
  margin: 0;
  font-family: "Open Sans","OpenSans",sans-serif;
  font-size: 16px;
}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 10px;
  height: 30px;
}

.top-left {
  float: left;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-links {
  float: right;
  display: inline-block;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}


.nav-bar-li {
  list-style-type: none;
  text-align: right;
  float: left;
}
.nav-bar-item a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.header {
  background-color: rgb(32, 101, 136);
  background-image: url("images/city-scape.svg");
  background-size: cover;
  height: 30em;
  margin: 0 auto;
  width: auto;
}

.float-left-search-bar {
  background-color: rgb(31, 82, 111);
  height: 45px;
  width: 86.5%;
  margin: 0;
  position: absolute;
  border: none;
  text-indent: 20px;
  border: rgba(255, 82, 111, 0.5);
}

.img {
  width: 60px;
  height: 50px;
  float: right;
  margin-left: 100px;
}

.sign {
  text-decoration: none;
  color: white;
  float: right;
  padding: 14px;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
}

h2 {
  font-size: 36px;
}

.amazing-things h2 {
   font-weight: lighter;
}

.link-btn {
  background-color: rgb(240, 146, 51);
  color: white;
}

.amazing-things {
  padding-top: 100px;
  padding-left: 800px;

}

.dark-background { 
background: url(images/collaboration.svg)  no-repeat;
background-size: 20%;
background-position: center;
height: 30em;
background-color: rgb(39, 53, 71);
padding: 10px;
display: block;
margin-left: auto;
margin-right: auto;
}

.header .link-btn {
  background-color: rgb(240, 146, 51);
}

.orgs {
  padding-left: 1700px;
  padding-top: 80px;
}

.dark-background h2 {
   font-weight: lighter;
}

.npm-Orgs {
  padding: 10px 16px 25px;
}

.what {
  background: url(images/forklift.svg) 0 0 no-repeat;
  background-size: cover;
  height: 30em;
  background-size: cover;
}

.text1 {
  width: 20%;
  float: left;
  padding: 20px;
  margin-left: 100px;
}

.text-redlink{
  color: #cb3837;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.text1 h4, { 
  text-align: center;
  vertical-align: middle;
 }

 .text1 p {
 	text-align: center;
 	vertical-align: middle;
 }

.npm {
  text-align: center;
  vertical-align: middle;
  width: 50%;
  padding: 120px;
}

.blocks-header {
  text-align: center;
  vertical-align: middle;
}

.paragraphs { 
  width: 70%;
  padding: 50px;
  margin-left: 400px; 
}

.blocks-header h2 {
   font-weight: lighter;
}

.npm h3, {
  font-weight: lighter;
  font-size: 36px;
}

.text-what  {
  font-size: 20px;
}

.text-align-center{
  text-align: center;
}

.style3 {
  width: 25%;
}

.blocks-header p {
 color: grey;
}

.grey-paragraph {
	color:grey;
}

.text1 img {
  display: block;
  margin: auto;
}

.clearfix {
  clear: both;
}